<!DOCTYPE html>
<html>
  <head>
    <title><%= teamInfo.name %></title>
  </head>
  Pads belonging to this team:
  <ul>
    <% for (var i=0; i < teamInfo.pads.length; i++) { %>
    <li><a href="/p/<%= teamInfo.pads[i] %>"><%= teamInfo.pads[i] %></a></li>
    <% } %>
  </ul>
  <form action="/teampad/createpad" method="post">
    Create pad: <input name="padname" type="text">
    <input name="teamname" type="hidden" value="<%= teamInfo.name %>">
    <input name="teamID" type="hidden" value="<%= teamInfo.teamID %>">
    <input type="submit">
  </form>
  Authors belonging to this team:
  <ul>
    <% for (var i=0; i < teamInfo.accounts.length; i++) { %>
    <li><%= teamInfo.accounts[i] %></li>
    <% } %>
  </ul>
  <form action="/teampad/addaccount" method="post">
    Add user to team: <input name="accountname" type="text">
    <input name="teamname" type="hidden" value="<%= teamInfo.name %>">
    <input name="teamID" type="hidden" value="<%= teamInfo.teamID %>">
    <input type="submit">
  </form>
</html>
